body {
    font-family: sans-serif;
    background: dimgray;
}

a {
  text-decoration: none;
  color: inherit;
}

nav a:hover, nav a:hover * {
  background: red;
  color: white;
}

.box {
  border: solid 1px silver;
  box-shadow: 4px 4px 7px 0px rgba( 0, 0, 0, 0.2 );
  background: navy;
  color: silver;
}

section nav.menu {
  padding-right: 1ex;
  margin-right: 1ex;
  margin-bottom: 1ex;
}

section nav.menu ul {
  list-style: none;
  padding-left: 1ex;
}

section nav.menu a {
  display: block;
}

/* index.css ends here */
