{# -*- engine: jinja2 -*- #}

<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>davep's Public Norton Guide Collection</title>
  </head>

  <body>

    <section>
      <article class="box">
        <p>
          Because of the number of Norton Guide tools I've published, on
          occasion I get asked if I have a copy of a particular Norton Guide
          file. While there are a couple of very large collections of guides
          out there on the web, it looks like they're starting to disappear;
          at least one that was build using <a href="https://github.com/davep/ng2html"><code>ng2html</code></a> seems
          to have gone offline.
        </p>
        <p>
          With this in mind, I'm going to populate this little site with all
          the guides I have that I have a licence to publish in public. Let
          me repeat and make clear that part:
          <strong>The only guides that are published here are guides that permit distribution and republishing</strong>.
        </p>
        <p>
          If there is a particular guide you are after, and it isn't listed
          here, there's little point in contacting me and asking for a copy;
          as much as I'd love to help I would prefer not to distribute files
          I don't have a licence to distribute.
        </p>
      </article>
    </section>

    <section>
      <nav class="menu box">
        <ul>
          {%- for guide in guides %}
            <li><a href="{{guide.path.stem}}/index.html">{{"{:<12}".format(guide.path.name)}} &mdash; {{guide.title}}</a></li>
          {%- endfor %}
        </ul>
      </nav>
    </section>

    <section class="site-footer">
      <article class="box">
        <dl>
          <dt>Generated</dt><dd>{{ generation_time }}</dd>
          <dt>Source</dt><dd><a href="https://github.com/davep/norton-guides">davep/norton-guides</a></dd>
        </dl>
      </article>
    </section>

  </body>

</html>

{# index.html ends here #}
